<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="index :: fragment-head"></div>
</head>
<body>

<style>
    .table_style {
        border: solid #F1F1F1 1px;
        border-radius: 20px;
        background-color: #F1F1F1;
        width: 690px;
    }
</style>

<table class="table_style">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>KDA</th>
        <th>cs</th>
        <th>피해량</th>
        <th>아이탬</th>
    </tr>

    <tr th:each="userInfo : ${matchInfo}">
        <td><img th:src="${userInfo.championName}" width="40"
                 style="border-radius: 70px">
        </td>
        <td>
            <div style="font-weight: bold; text-align: center;">
                <p th:text="${userInfo.champLevel}"></p>
            </div>
        </td>
        <td>
            <div style="vertical-align: top">
                <img th:src="${userInfo.spell1Id}" width="20">
            </div>
            <div style="vertical-align: bottom">
                <img th:src="${userInfo.spell2Id}" width="20">
            </div>
        </td>
        <td>
            <div style="vertical-align: top">
                <img th:src="${userInfo.primaryPerk}" width="20"
                     style="background-color: black; border-radius: 70px">
            </div>
            <div style="vertical-align: bottom">
                <img th:src="${userInfo.subPerk}" width="20">
            </div>
        </td>
        <td>
            <div>
                <th:block th:if="${userInfo.win == true}">
                    <p th:text="${userInfo.summonerName + '#' + userInfo.tagLine}"
                       style="color: blue; font-weight: bold"></p>
                </th:block>
                <th:block th:if="${userInfo.win == false}">
                    <p th:text="${userInfo.summonerName + '#' + userInfo.tagLine}"
                       style="color: red; font-weight: bold"></p>
                </th:block>
            </div>
        </td>
        <td style="text-align: center">
            <span th:text="${userInfo.kills}" style="font-weight: bold"></span> /
            <span th:text="${userInfo.deaths}" style="font-weight: bold"></span> /
            <span th:text="${userInfo.assists}" style="font-weight: bold"></span>
        </td>


        <td style="text-align: center">
                                            <span th:text="${userInfo.totalMinionsKilled}"
                                                  style="font-weight: bold"></span>
        </td>
        <td style="text-align: center">
                                    <span th:text="${userInfo.totalDamageDealtToChampions}"
                                          style="font-weight: bold"></span>
        </td>
        <td style="text-align: center">
            <th:block th:each="item : ${userInfo.items}">
                <img th:src="${item}" width="30">
            </th:block>
        </td>
    </tr>
</table>

</body>
</html>