<!DOCTYPE html>
<html lang="en">
<head th:fragment="fragment-head">
    <meta charset="UTF-8">
    <title>search match</title>
    <link rel="shortcut icon" typ="image/x-icon"
          href="https://cdn2.steamgriddb.com/file/sgdb-cdn/icon/a5e00132373a7031000fd987a3c9f87b/32/256x256.png">
    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 70vh;
            margin: auto;
        }
    </style>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>

<div class="center-screen">
    <div th:fragment="search">
        <div style="margin-bottom: 40px; font-weight: bold;">
            <p>League of Legends</p>
            <p><a href="/" style="text-decoration: none; color: black; font-size: 2.5em;">Search Match</a></p>
        </div>

        <form th:action="@{/search}" method="get">
            <div style="float: left">
                <input type="text" name="nameAndTag" style="width: 400px; height: 25px; border-radius: 8px;" placeholder="닉네임 + #태그   (대소문자 확실히 !!)"
                       autocomplete="on" required>
            </div>
            <div style="float: right">
                <button type="submit" style="background-color: rgba(0,0,0,0); cursor:pointer; border: none; margin-left: 10px;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ2lrGUOryxor3UWjEUjRs2aKB2eqkr_9ykMs_B4VwDBh4fVCYwYx-vYXLfRZe03UpPAU&usqp=CAU"
                         style="max-width: 50px; max-height: 25px;" alt="검색">
                </button>
            </div>
        </form>
    </div>

    <div>
        <p style="font-weight: bold; margin-top: 60px">
            made by <a th:href="@{https://github.com/y00913}" target="_blank" style="text-decoration: none;">y00913</a>
        </p>
    </div>

</div>

</body>
</html>