<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="index :: fragment-head"></div>
</head>
<body>
<div style="border: solid #F1F1F1 1px; max-width: 1100px; max-height: 300px; border-radius: 30px; margin-bottom: 50px; background-color: #F1F1F1">
    <table style="text-align: center">
        <tr>
            <table>
                <tr align="center" style="padding: 1em">
                    <td style="width: 100px">
                        <img th:src="${profileIcon}" width="100" style="border-radius: 30px">
                    </td>
                    <td style="width: 160px">
                        <h2>
                            <p>
                                <span th:text="${name}"></span>
                                <span th:text="'#' + ${tagLine}"></span>
                            </p>
                            <p>
                                레벨 : <span th:text="${summonerLevel}"></span>
                            </p>
                        </h2>
                    </td>

                    <td style="width: 60px">
                        <div style="text-align: center">
                            <div id="renewal">
                                <button type="button" th:onclick="callRenewal([[${name}]] , [[${tagLine}]])"
                                        style="background-color: #76B8E0; color: #F1F1F1; border: none; border-radius: 10px;
                                        width: 60px; height: 30px; display: flex; align-items:center; justify-content: center; cursor:pointer;">
                                    <p style="font-weight: bold; font-size: 16px;">
                                        갱신
                                    </p>
                                </button>
                            </div>

                            <div id="loading_renewal"
                                 style="display: none;">
                                <img src="/static/img/loading.gif" style="width: 50px; height: 50px;">
                            </div>
                        </div>
                    </td>

                    <td style="padding-left: 150px; width: 100px">
<!--                        <th:block th:if="${!#strings.isEmpty(rankType?.soloUserTier)}">-->
                            <p><img th:src="@{${soloTierImg}}" width="100"
                                    style="border-radius: 30px"></p>
<!--                        </th:block>-->
                    </td>

                    <td style="border-collapse: collapse; border-spacing: 1px 1px; width: 180px">
                        <div style="margin-bottom: 0; font-weight: bold">
                            <span>솔로 랭크</span>
                        </div>

                        <th:block th:if="${!#strings.isEmpty(rankType?.soloUserTier)}">
                            <div style="margin-bottom: 0; font-size: 1.5em; font-weight: bold">
                                <span th:text="${rankType.soloUserTier}"></span>
                                <span th:text="${rankType.soloUserRank}"></span>
                            </div>
                            <div style="margin-bottom: 0; font-weight: bold">
                                <span th:text="${rankType.soloLeaguePoints} + lp"></span>
                            </div>

                            <div style="margin-bottom: 0; font-weight: bold">
                                <span th:text="${rankType.soloUserWins}"></span>승
                                <span th:text="${rankType.soloUserLosses}"></span>패
                            </div>


                        </th:block>
                        <th:blcok th:if="${#strings.isEmpty(rankType?.soloUserTier)}">
                            <h2>Unranked</h2>
                        </th:blcok>
                    </td>

                    <td style="padding-left: 10px; width: 100px">
<!--                        <th:block th:if="${!#strings.isEmpty(rankType?.flexUserTier)}">-->
                            <p><img th:src="@{${flexTierImg}}" width="100"
                                    style="border-radius: 30px"></p>
<!--                        </th:block>-->
                    </td>

                    <td style="border-collapse: collapse; border-spacing: 1px 1px; width: 180px">
                        <div style="margin-bottom: 0; font-weight: bold">
                            <span>자유 랭크</span>
                        </div>

                        <th:block th:if="${!#strings.isEmpty(rankType?.flexUserTier)}">

                            <div style="margin-bottom: 0; font-size: 1.5em; font-weight: bold">
                                <span th:text="${rankType.flexUserTier}"></span>
                                <span th:text="${rankType.flexUserRank}"></span>
                            </div>

                            <div style="margin-bottom: 0; font-weight: bold">
                                <span th:text="${rankType.flexLeaguePoints} + lp"></span>
                            </div>

                            <div style="margin-bottom: 0; font-weight: bold">
                                <span th:text="${rankType.flexUserWins}"></span>승
                                <span th:text="${rankType.flexUserLosses}"></span>패
                            </div>
                        </th:block>
                        <th:blcok th:if="${#strings.isEmpty(rankType?.flexUserTier)}">
                            <h2>Unranked</h2>
                        </th:blcok>
                    </td>
                </tr>
            </table>
        </tr>

    </table>
</div>

<script>
    /*<![CDATA[*/
    function callRenewal(summonerName, tagLine) {
        $.ajax({
            url: '/api/renewal/' + summonerName + '/' + tagLine,
            type: 'GET',
            beforeSend: function () {
                $('#loading_renewal').show();
                $('#renewal').hide();
            },
            complete: function () {
                $('#loading_renewal').hide();
                $('#renewal').show();
            },

            error : function (result) {
                alert("조회한지 10분이 지나지 않았습니다.\n" + [[${10 - updateAt}]] + "분 후 조회가 가능합니다.");
            }
        }).done(function (result) {
            document.location.reload();
        });
    }
    /*]]*/
</script>

</body>
</html>