<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="index :: fragment-header"></div>
</head>
<body>

<style>
    .td_style {
        text-align: center;
        padding: 20px 20px 20px 20px;
        border-radius: 15px;
        width: 700px;
    }

    .show {
        cursor: pointer;
        border: none;
    }

    .hide {
        display: none;
        cursor: pointer;
        border: none;
    }
</style>

<th:block th:if="${result != null}">
    <div>
        <th:block th:if="${!#lists.isEmpty(matches)}">
            <table align="center">
                <tr th:each="match: ${matches}">
                    <td class="td_style"
                        th:style="${match.win == true} ? 'background-color: #B4EAF2' : 'background-color: #F2D2D1'">

                        <table style="margin-left: auto; margin-right: auto">
                            <tr>
                                <td style="width: 170px;">
                                    <div style="font-weight: bold; font-size: 1.2em; margin-right: 20px">
                                        <div>
                                            <span th:text="${match.queueType}"></span>
                                        </div>
                                        <div>
                                            <span th:text="${match.endTime}"></span>
                                        </div>
                                        <div>
                                            <span th:if="${match.win == true}" style="color: blue">
                                                승리
                                            </span>
                                            <span th:if="${match.win == false}" style="color: red">
                                                패배
                                            </span>
                                        </div>
                                        <div>
                                            <span th:text="${match.gameDurationMinutes}"></span>분
                                            <span th:text="${match.gameDurationSeconds}"></span>초
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 105px;">
                                    <img th:src="${match.myInfoDTO.championName}" width="100"
                                         style="border-radius: 70px;">
                                </td>
                                <td style="width: 40px;">
                                    <div style="vertical-align: top">
                                        <img th:src="${match.myInfoDTO.spell1Id}" width="40">
                                    </div>
                                    <div style="vertical-align: bottom">
                                        <img th:src="${match.myInfoDTO.spell2Id}" width="40">
                                    </div>
                                </td>
                                <td style="width: 40px;">
                                    <div style="vertical-align: top;">
                                        <img th:src="${match.myInfoDTO.primaryPerk}" width="40"
                                             style="background-color: black; border-radius: 70px">
                                    </div>
                                    <div style="vertical-align: bottom">
                                        <img th:src="${match.myInfoDTO.subPerk}" width="40">
                                    </div>
                                </td>
                                <td style="width: 290px;">
                                    <div style="vertical-align: top; font-weight: bold; font-size: 1.5em; margin-bottom: 15px;">
                                        <span th:text="${match.myInfoDTO.kills}"></span> /
                                        <span th:text="${match.myInfoDTO.deaths}"></span> /
                                        <span th:text="${match.myInfoDTO.assists}"></span>
                                    </div>

                                    <div style="vertical-align: bottom; margin-left: 10px">
                                        <th:block th:each="item : ${match.myInfoDTO.items}">
                                            <img th:src="${item}" width="30">
                                        </th:block>
                                    </div>
                                </td>
                                <td style="width: 75px;">
                                    <div th:id="'loading' + ${match.matchId}"
                                         style="display: none; margin-left: 28px;">
                                        <img src="https://blog.kakaocdn.net/dn/bVlxDK/btq6lZaZ9u5/tt3SQWLkf692DbCsQMJS0k/img.gif">
                                    </div>

                                    <div style="cursor:pointer; border: none; margin-left: 30px;">
                                        <button type="button" class="show" th:id="'call' + ${match.matchId}"
                                                th:onclick="callDetailMatch([[${match.matchId}]])"
                                                th:style="${match.win == true} ? 'background-color: #B4EAF2' : 'background-color: #F2D2D1'">
                                            <img src="https://cdn.icon-icons.com/icons2/1339/PNG/512/downarrow_87468.png"
                                                 style="max-width: 40px; max-height: 40px; border-radius: 70px; filter: opacity(.5) drop-shadow(0 0 0 0)"
                                                 alt="상세보기">
                                        </button>
                                        <button type="button" class="hide" th:id="'showDetail' + ${match.matchId}"
                                                th:onclick="showDetail([[${match.matchId}]])"
                                                th:style="${match.win == true} ? 'background-color: #B4EAF2' : 'background-color: #F2D2D1'">
                                            <img src="https://cdn.icon-icons.com/icons2/1339/PNG/512/directionalarrow_87507.png"
                                                 th:id="'showButton' + ${match.matchId}"
                                                 style="max-width: 40px; max-height: 40px; border-radius: 70px; filter: opacity(.5) drop-shadow(0 0 0 0)"
                                                 alt="숨기기">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div th:id="showD + ${match.matchId}" align="center">
                            <div th:id="'detail' + ${match.matchId}"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </th:block>
    </div>
</th:block>

<script>
    function callDetailMatch(matchId) {
        $.ajax({
            url: '/detail' + '/' + matchId,
            type: 'GET',
            beforeSend: function () {
                $('#loading' + matchId).show();
                $('#call' + matchId).hide();
                $('#showDetail' + matchId).hide();
            },
            complete: function () {
                $('#loading' + matchId).hide();
                $('#call' + matchId).hide();
                $('#showDetail' + matchId).show();
            },
        }).done(function (result) {
            $('#detail' + matchId).replaceWith(result);
        });
    }

    function showDetail(matchId) {
        if ($('#showD' + matchId).is(":visible")) {
            $('#showD' + matchId).hide();
            $('#showButton' + matchId).attr("src", "https://cdn.icon-icons.com/icons2/1339/PNG/512/downarrow_87468.png");
        } else {
            $('#showD' + matchId).show();
            $('#showButton' + matchId).attr("src", "https://cdn.icon-icons.com/icons2/1339/PNG/512/directionalarrow_87507.png");
        }
    }
</script>

</body>
</html>